<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <!-- FN -->
  <div class="field">
    <%= f.label "First Name" %><br />
    <%= f.text_field :first_name, autofocus: true %>
  </div>

  <!-- LN -->
  <div class="field">
    <%= f.label "Last Name" %><br />
    <%= f.text_field :last_name, autofocus: true %>
  </div>

  <!-- UN -->
  <div class="field">
    <%= f.label "User Name" %><br />
    <%= f.text_field :username, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label "Email ID" %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label "Password" %>
    <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label "Password Confirmation" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <!-- city -->
  <div class="field">
    <%= f.label "City" %><br />
    <%#= f.text_field :city, autofocus: true %>
    <%= f.select(:city, options_for_select(CS.cities(:eng, :gb)), {:prompt => "--Select City--"}) %>
  </div>

  <!-- current location -->
  <div class="field">
    <%= f.label "Current_ Location" %><br />
    <%= f.text_field :current_location, autofocus: true %>
  </div>

  <!-- phone -->
  <div class="field">
    <%= f.label "Phone" %><br />
    <%= f.text_field :phone, autofocus: true %>
  </div>

  <!-- highest education -->
  <div class="field">
    <%= f.label "Highest Education" %><br /> 
    <%= f.text_field :highest_education, autofocus: true, :id=>"other_education", :style => "display:none;" %>
    <%= f.select(:highest_education, options_for_select([["A-level", "A-level"], ["GCSE", "GCSE"], ["Master's degree", "Master's degree"], ["Other", "Other"], ["PhD", "PhD"], ["University degree", "University degree"]]), {:prompt => "--Select Highest Education--"}) %>
  </div>

  <!-- options_for_select([["Dollar", "$"], ["Kroner", "DKK"]]) -->

  <!-- current job title -->
  <div class="field">
    <%= f.label "Job Title (current)" %><br />
    <%= f.text_field :current_job_title, autofocus: true %>
  </div>

  <!-- Employee -->
  <div class="field">
    <%= f.label "Employee" %><br />
    <%#= f.text_field :employee_type, autofocus: true %>
    <%= f.select(:employee_type, options_for_select([["Fresher","Fresher"],["Experienced","Experienced"], ["Freelancer", "Freelancer"]]), {:prompt => "--Select Employee Type--"}) %>
<!-- # options_for_select([["Current Career Level","Current Career Level"], ["None of these", "None of these"], ["Student (Higher education/Graduate)", "Student (Higher education/Graduate)"], ["Entry Level", "Entry Level"], ["Experienced (Non-Manager)", "Experienced (Non-Manager)"], ["Manager (Manager/Supervisor of Staff)", "Manager (Manager/Supervisor of Staff)"], ["Executive (Director, Department Head)", "Executive (Director, Department Head)"], ["Senior Executive (Chairman, MD, CEO)", "Senior Executive (Chairman, MD, CEO)"]]), {:prompt => "Select Employee Type"}) -->
 </div>

  <!-- total years of experience -->
  <div class="field">
    <%= f.label "Total Years Of Experience" %><br />
    <%= f.text_field :total_experience_years %> Year(s)
    <%= f.text_field :total_experience_months %> Month(s)
  </div>

  <!-- desired job title -->
  <div class="field">
    <%= f.label "Job Title (desired): Tags" %><br />
    <%= f.text_field :desired_job_title, autofocus: true %>
  </div>

  <!-- Job Type -->
  <div class="field">
    <%= f.label "Job Type" %><br />
    <%#= f.text_field :job_type, autofocus: true %>
    <%= f.select(:job_type, options_for_select([["Permanent", "Permanent"], ["Contract", "Contract"], ["Temporary", "Temporary"], ["Self Employed", "Self Employed"]]), {:prompt => "--Select Job Type--"}) %>
  </div>

  <!-- current_salary -->
  <div class="field">
    <%= f.label "Current Salary" %><br />
    <%= f.text_field :current_salary, :id=>"ex1", "data-slider-id"=>"ex1Slider", :type=>"text", "data-slider-min"=>"0", "data-slider-max"=>"100", "data-slider-step"=>"10", "data-slider-value"=>"10" %>
    <!-- <input id="ex1" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="20" data-slider-step="1" data-slider-value="14"/> -->
  </div>
<!-- <input id="ex1" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="20" data-slider-step="1" data-slider-value="14"/> -->

  <!-- wiling_to_travel -->
  <div class="field">
    <%= f.label "Willing To Travel (miles)" %>
    <%#= f.text_field :wiling_to_travel, autofocus: true %>
    <%#= f.check_box :wiling_to_travel %>
    <%= f.link_to "Yes", "", :class=>"btn btn-default", :value => true %>
    <%= f.link_to "No", "", :class=>"btn btn-default", :value => false %>
    <%#= f.check_box :wiling_to_travel %>
  </div>  

  <!-- eligibility to work in UK -->
  <div class="field">
    <%= f.label "Eligibility To Work In UK ?" %> &nbsp;&nbsp;
    <%= f.select(:eligibility_for_uk, options_for_select([]), {:prompt => "--Select--"}) %>
  </div>

  <!-- Accept terms and conditions -->
  <div class="field">                           
    <%= f.check_box :terms_and_conditions %>
    <%= f.label "I accept 'Terms & Conditions'" %>
    <%#= f.text_field :terms_and_conditions, autofocus: true %>
  </div>

  <div class="actions">
    <%= f.submit "Register" %>
  </div>
<% end %>

<%= render "users/shared/links" %>

<script type="text/javascript">
  $(document).ready(function(){
    $('#ex1').slider({
      formatter: function(value) {
        // alert("Hello there.\nI am on a second line ;-)")
        // return 'Per Month: ' + value + 'k';
        return 'Per Year: ' + value*12 + 'k ' + "&" + ' Per Month: ' + value + 'k';
      }
    });
    $("#user_highest_education").on("change",function(){
      if ($(this).val() == "Other") {
        $("#other_education").show();
        $("#user_highest_education").hide();
        var other_value = $("#other_education").val();
        alert(other_value);
        $("#user_highest_education").val(other_value);
      };
    });   
  });
</script>

<!-- // With JQuery
$('#ex1').slider({
  formatter: function(value) {
    return 'Current value: ' + value;
  }
}); -->

<!-- // Without JQuery
var slider = new Slider('#ex1', {
  formatter: function(value) {
    return 'Current value: ' + value;
  }
}); -->
<style type="text/css">
  #ex1Slider .slider-selection {
    background: #BABABA;
  } 
</style>
